# drivers/mtd/chips/Kconfig
# $Id: Kconfig,v 1.18 2005/11/07 11:14:22 gleixner Exp $

menu "SPI Flash chip drivers"
	depends on MTD!=n

config MTD_SPI
	bool "Enable MTD support on SPI devices"
	depends on MTD
	help
	  Select this if you want to access SPI flash devices via MTD

config MTD_SPI_SPANSION
	bool "Spansion SPI devices Support"
	depends on MTD_SPI
	help
	  Select this if you want to use Spansion SPI devices

config MTD_SPI_MACRONIX
	bool "Macronix SPI devices Support"
	depends on MTD_SPI
	help
	  Select this if you want to use Macronix SPI devices

config MTD_SPI_INTEL_S33
	bool "Intel S33 SPI devices Support"
	depends on MTD_SPI
	help
	  Select this if you want to use Intel S33 SPI devices

config MTD_SPI_WINBOND
	bool "Winbond SPI devices Support"
	depends on MTD_SPI
	help
	  Select this if you want to use Winbond SPI devices

config MTD_SPI_AT
	bool "Atmel SPI devices Support"
	depends on MTD_SPI
	help
	  Select this if you want to use Atmel SPI devices

config MTD_SPI_ST
	bool "ST Micro SPI devices Support"
	depends on MTD_SPI
	help
	  Select this if you want to use ST Microelectronics SPI devices

config MTD_SPI_NUMONYX
	bool "Numonyx SPI devices Support"
	depends on MTD_SPI
	help
	  Select this if you want to use Numonyx SPI devices

config MTD_SPI_DEFAULT
	bool "Support for SPI Devices not supporting ReadID"
	depends on MTD_SPI
	help
	   Select this if the SPI device on your board does not SPI ReadID Command

config DEFAULT_SPI_NAME  
	string "Default SPI Name"
	depends on MTD_SPI && MTD_SPI_DEFAULT
	default "default"
	help
	   Name of the SPI Device that does not support ReadID 

config DEFAULT_SPI_SIZE
	int "Default SPI Size in Bytes"
	depends on MTD_SPI && MTD_SPI_DEFAULT
	default "65536"
	help
	   Chip Size of the SPI Device that does not support ReadID 

config DEFAULT_SPI_ERASE_SIZE
	int "Default SPI Erase Block Size in Bytes"
	depends on MTD_SPI && MTD_SPI_DEFAULT
	default "65536"
	help
	   Erase Block Size of the SPI Device that does not support ReadID 

endmenu
